body {
     margin-left: 3%; 
}


canvas {
    width: 100% !important;
    height: 100% !important;


}

#locus {
    overflow-y:auto;
    height: 300px;
}

#filtertext {
    width: 300px;
}

#figure {
    width: 700px;
    height: 300px;
    padding: 4px;
    margin: 4px;
}


.button-secondary {
                background: rgb(66, 184, 221); /* this is a light blue */
                        
}


.fileUpload {
    overflow: hidden;
        width: 90px !important;
        height: 40px !important;

}

.fileUpload input {
        display: block !important;
        width: 90px !important;
        height: 40px !important;
        opacity: 0 !important;
        overflow: hidden !important;
}

.btn-file {
position: relative;
overflow: hidden;
                        
}

.btn-file input[type=file] {
position: absolute;
top: 0;
right:0;
min-width:100%;
min-height:100%;
font-size:100px;
text-align:right;
filter:alpha(opacity=0);
opacity:0;
outline:none;
background:white;
cursor:inherit;
display:block;
}

.cluster_wrapper {
    height: 400px;
    overflow-y: scroll;
}

.colors {
 float: left;   
}

.init_hidden {
    display: none;
    background: white;
}

#precursor_figure_options {
    height: 500px;
    width: 500px;
}
