<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html>
<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>smallRNA clusters visualization tool</title>
<link rel="stylesheet" href="css/pure-min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/fornac.css" media="screen" />
<link rel="stylesheet" href="css/jquery.dataTables.min.css">
<link rel="stylesheet" href="css/main_style.css">

<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/read.js"></script>
<script type="text/javascript" src="js/sql.js"></script>
<script type="text/javascript" src="js/Chart.min.js"></script>
<script type="text/javascript" src="js/sortable.js"></script>
<script type='text/javascript' src='js/d3.js'></script>
<script type='text/javascript' src='js/fornac.js'></script>
<script type='text/javascript' src='js/rnagraph.js'></script>
<script type='text/javascript' src='js/jquery.bpopup.min.js'></script>
<script type='text/javascript' src='js/ideogram.min.js'></script>

<script>

////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////
colorSamples=[];
lineSamples=[];
// need to be global
var myLine=null;
var newX=null;
var newYs=null;
var newNames=null;
var precursor_array = null;
var db = null;
var file = null;

// Ideogram.js configuration
// Relevant examples under 'Annotations' at https://eweitz.github.io/ideogram/
// API documentation: https://github.com/eweitz/ideogram/blob/master/api.md
var ideogramConfig = {
  organism: 'human',
//  assembly: 'GRCh37', // defaults to GRCh38
  container: '#ideogram-container',
  dataDir: 'data/ideogram/bands/native/',
  chrHeight: 150, // height of tallest chromosome
  chrWidth: 8,
  resolution: 550, // cytobands in genome; one of 400, 550, 800
  rotatable: false // Until fix of https://github.com/eweitz/ideogram/issues/60
};

jQuery(document).ready(function(){

    var fileDisplayArea = document.getElementById('table');
    var tableDisplayArea = document.getElementById("myTable");
    var fileInput = document.getElementById('files');
    document.getElementById("uploadFile").value = "data/example.db"
    document.getElementById("but_add_filter").onclick = add_filter;
    document.getElementById("but_change_line").onclick = change_line;

    function drawIdeogram() {

      // Remove previous ideogram
      var ideoContainer = document.getElementById('ideogram-container');
      if (ideoContainer) {
        ideoContainer.remove();
      }
      document.getElementById('cluster-and-ideogram-row').innerHTML +=
        '<div class="col-md-6" style="height:200px;" id="ideogram-container"></div>';

      ideogram = new Ideogram(ideogramConfig);
    }

    function drawLocationsOnIdeogram(sortedValues) {

      var ideogramAnnotations= [];

      sortedValues.forEach(function(entry){
        console.log(entry[2])
        var locusArray = JSON.parse(entry[2]);

        locusArray.forEach(function(pos) {

          ideogramAnnotations.push({
            name: pos[0].toString(),
            chr: pos[1],
            start: parseInt(pos[2]),
            stop: parseInt(pos[3])
          });

        });

        ideogramConfig.annotations = ideogramAnnotations;
        ideogramConfig.chrMargin = 6; // Pixels between chromsoomes, default 10
        ideogramConfig.annotationHeight = 3;
      });

      drawIdeogram();

    }

    function read_sql(db){
            var contents = db.exec("SELECT Id, Description, Locus FROM clusters");

            //Deleting rows from table
            empty_tables(tableDisplayArea);

            //Removing Radio Buttons
            var myradios= document.getElementsByName('radiog0'); //Get all myradio elements from document

            for (var i = 0; i < myradios.length; i++) { //Loop all myradio elements
                myradios[i].parentNode.removeChild(myradios[i]); //Removes the radio button
            }

            var i = 1;
            var sortedValues = contents[0]['values'].sort();

            drawLocationsOnIdeogram(sortedValues);

            sortedValues.forEach(function(entry) {
                // Create an empty <tr> element and add it to the first position of <thead>:

                //JSON.parse(entry[2]['values'][0][0]);

                var row = tableDisplayArea.insertRow(i);
                i++;

                // Insert a new cell (<td>) at the first position of the "new" <tr> element:
                var cell0 = row.insertCell(0);
                var cell1 = row.insertCell(1);
                var cell2 = row.insertCell(2);

                // Add some bold text in the new cell:

                var button = document.createElement('input');
                button.type= "button";
                button.value = ">show more";
                button.className = "button-xsmall pure-button";
                button.id = entry;
                button.onclick =  function() { myFuncShowLocus(entry[0]);}

                var lab = document.createElement('label');
                lab.htmlFor = entry;
                lab.appendChild(document.createTextNode(entry[0]));

                var label = document.createElement('label');
                label.htmlFor = entry;
                label.appendChild(document.createTextNode(entry[1]));

                cell0.appendChild(button);
                cell1.appendChild(lab);
                cell2.appendChild(label);
            });
    }

    function load_data_first(file){
        fileDisplayArea.innerText = ""
 
        var reader = new FileReader();
        reader.onload = function(e) {
            var Uints = new Uint8Array(reader.result);
            db = new SQL.Database(Uints);
            read_sql(db)
        }
        reader.readAsArrayBuffer(file);
    }

    var empty_tables = function(t){
        var rowCount = t.rows.length;
        for (var x=rowCount-1; x>0; x--) {
            t.deleteRow(x);
        } 
    }

    function make_table_nice(){
        // Setup - add a text input to each footer cell
        $('#myTableSeqs tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
     
        // DataTable
        var table = $('#myTableSeqs').DataTable();
     
        // Apply the search
        table.columns().every( function () {
            var that = this;
     
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    }

    var myFuncShowLocus = function(c) {
        var tblDisplay = document.getElementById("myTableLocus");
        empty_tables(tblDisplay);

        var tblSDisplay = document.getElementById("myTableSeqs");
        empty_tables(tblSDisplay);
        
        var canvas = document.getElementById("canvas");
        canvas.innerText = "";

        if (c > -1) {
            var str = "SELECT Locus, Profile, Sequences, Precursor FROM clusters WHERE Id=" + c;
            var cts = db.exec(str);

            // show precursor structure
            precursor_array = JSON.parse(cts[0]['values'][0][3]);
            
            profile_array = JSON.parse(cts[0]['values'][0][1]);

            //reading formatting for samples
            newNames = profile_array['names'];
            newX     = profile_array['x'];
            newYs    = profile_array['y'];
            if (colorSamples.length == 0){
                for (id in newNames){
                    if (colorSamples[newNames[id]] == null){
                        colorSamples[newNames[id]] = "rgba(151,187,205,1)";
                        lineSamples[newNames[id]] = [0, 0];
                    }
                }
            }
            // reading locus
            locus_array = JSON.parse(cts[0]['values'][0][0]);

            //Deleting rows from table
            empty_tables(tblDisplay);
            
            //Inserting new rows in locus table
            var i = 1;
            locus_array.forEach(function(entry) {
                    var row = tblDisplay.insertRow(i);
                    i++;

                    // Insert a new cell (<td>) at the first position of the "new" <tr> element:
                    var cell0 = row.insertCell(0);
                    var cell1 = row.insertCell(1);
                    var cell2 = row.insertCell(2);

                    var lab0 = document.createElement('label');
                    lab0.htmlFor = i;
                    lab0.appendChild(document.createTextNode(c));

                    var lab1 = document.createElement('label');
                    lab1.htmlFor = i;
                    lab1.appendChild(document.createTextNode(i-2));

                    var entr  = String(entry);
                    var entr0 = entr.split(",");
                    var entr1 = entr0[1] + ":" + entr0[2] + "-" + entr0[3];
                    var lab2 = document.createElement('label');
                    lab2.htmlFor = i;
                    lab2.appendChild(document.createTextNode(entr1));

                    cell0.appendChild(lab0);
                    cell1.appendChild(lab1);
                    cell2.appendChild(lab2);

            });

            
            //plot_fig_options(newNames);
            myFunctionPlot();

           //Deleting rows from table with sequences
            empty_tables(tblSDisplay);
            if (tblSDisplay.tHead){
                tblSDisplay.deleteTHead();
                tblSDisplay.deleteTFoot();
                tblSDisplay.deleteTBody();
            }
            //Insert headers for tables with sequnces

            var thead = tblSDisplay.createTHead();
            var tfoot = tblSDisplay.createTFoot();
            tr = document.createElement('tr');

            th = document.createElement('th');
            th.innerHTML = "Sequence";
            tr.appendChild(th);

            seqs_array = JSON.parse(cts[0]['values'][0][2]);
            var arrKeys = [];
            for (key in seqs_array[0]['freq']) {
                arrKeys.push(key);
            }
            arrKeys = arrKeys.sort();
            //console.log(arrKeys);

            for (var key in arrKeys) {
                //console.log(seqs_array[0]['freq'][key])
                th = document.createElement('th');
                th.innerHTML = arrKeys[key];
                tr.appendChild(th);
            }
            thead.appendChild(tr);
            tfoot.appendChild(tr.cloneNode(true));
            //Inserting new rows for sequences
            var tbody = tblSDisplay.createTBody();
            seqs_array.forEach(function(entry) {

                    var tr = document.createElement('tr');
                    
                    th = document.createElement('td');
                    th.innerHTML = entry['name'];
                    tr.appendChild(th);

                    for (var key in arrKeys) {
                        //console.log(entry['freq'][key])
                        
                        th = document.createElement('td');
                        th.innerHTML = entry['freq'][arrKeys[key]];
                        tr.appendChild(th);

                    }
                    tbody.appendChild(tr);
            });

            make_table_nice();

        }      
    }
    
    // Load a db from a file
    fileInput.addEventListener('change', function(e) {
        
        file = fileInput.files[0];
        document.getElementById("uploadFile").value = file["name"];
        load_data_first(file);
    });

    $( "#exbutton" ).click(function() {

        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'data/example.db', true);
        xhr.responseType = 'arraybuffer';

        xhr.onload = function(e) {
            var uInt8Array = new Uint8Array(this.response);
            db = new SQL.Database(uInt8Array);
            read_sql(db);
        };
        xhr.send();
        
    });

    over_profile =  function() {
        $('#popup_profile').bPopup();
        myLine.render();
    }
    over_ss = function() {
        $('#popup_ss').bPopup();
        if (precursor_array['structure'] != 0){
                var container = new FornaContainer("#precursor_figure_options", {'applyForce': true, 'allowPanningAndZooming': true, "initialSize": [200,300]});
                var options = {'structure': precursor_array['structure'],
                               'sequence':  precursor_array['seq']};
                colorStr = precursor_array['colors'].join(" ");
                container.addRNA(options.structure, options);
                cs = ColorScheme(colorStr);
                container.addCustomColors(cs.colorsJson);
                container.changeColorScheme('custom'); 

            }
    }
    over_seqs = function() {
        $('#popup_seqs').bPopup();
    }


    drawIdeogram();

});

var lineChartData = {
    type : 'line',
    data: {labels: [], datasets : []},
    options: {
            responsive: true,
            tooltipFontSize: 12,
            multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
            pointDot : false

    }
}

function filter (term, _id, cellNr){
    var suche = term.value.toLowerCase();
    var table = document.getElementById(_id);
    var ele;
    for (var r = 1; r < table.rows.length; r++){
        ele = table.rows[r].cells[cellNr].innerHTML.replace(/<[^>]+>/g,"");
        if (ele.toLowerCase().indexOf(suche)>=0 )
            table.rows[r].style.display = '';
        else table.rows[r].style.display = 'none';
    }
}

function myFunctionPlot(){

    if(myLine!=null){
        myLine.destroy();
    }

    if (newX!=null){
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        ctx.canvas.width = 15;
        ctx.canvas.height = 10;

        updateData(lineChartData);

        myLine = new Chart(ctx, lineChartData);
    }
}

var updateData = function(oldData){
        while (oldData["data"]["labels"].length > 0) {
            oldData["data"]["labels"].pop();
        }

        for (var d = 0; d < oldData["data"]["datasets"].length; d++) {
            while (oldData["data"]["datasets"][d]["data"].length > 0) {
                oldData["data"]["datasets"][d]["data"].pop();
            }
        }


        while (oldData["data"]["datasets"].length > 0) {
            oldData["data"]["datasets"].pop();
        }


        for (var i = 0; i < newX.length; i++) {
            oldData["data"]["labels"].push(newX[i]);
        }

        for (var d = 0; d < newNames.length; d++) {
            var id = newNames.sort()[d];
            oldData["data"]["datasets"].push(
                {
                    label: id,
                    fillColor : "rgba(0,0,0,0)",
                    borderColor : colorSamples[id],
                    borderDash: lineSamples[id],
                    borderWidth: 4,
                    fill : false,
                    pointStyle: 'line',
                    data : []
                }
            );

            //if (document.getElementById(id).checked) {
                for (var i = 0; i<newYs[id].length; i++) {
                    oldData["data"]["datasets"][d]["data"].push(newYs[id][i]);
                }
            //}


        }
};

var add_filter = function(){
    //Deleting rows from table
    var tblPDisplay = document.getElementById("precursor_figure_output");
    legend = " "
    var inptRegExp = document.getElementById("regexp");
    var colorObj = document.getElementById("allcolors");
    regexp= inptRegExp.value;
    color = colorObj.value;
    var patt = new RegExp(regexp);
    if (regexp!=null & inptRegExp!=""){
        
        for (name in newNames){
            if (patt.test(newNames[name])){
                //console.log(newNames[name]);
                colorSamples[newNames[name]] = color;
            }
            var sample = newNames[name];
            legend += sample.fontcolor(colorSamples[newNames[name]]) + " ";
            // console.log(sample.fontcolor(colorSamples[newNames[name]]))
        }

        myFunctionPlot();
        
    }
}

var change_line = function(){
    //Deleting rows from table
    var tblPDisplay = document.getElementById("precursor_figure_output");
    legend = " "
    var inptRegExp = document.getElementById("regexp");
    regexp= inptRegExp.value;
    var patt = new RegExp(regexp);
    if (regexp!=null & inptRegExp!=""){
        
        for (name in newNames){
            if (patt.test(newNames[name])){
                // console.log(lineSamples[newNames[name]][1]);
                if (lineSamples[newNames[name]][1] == 0){
                    lineSamples[newNames[name]] = [20, 20];
                }else{
                    lineSamples[newNames[name]] = [0, 0];
                }
                
                legend += newNames[name] + " ";
            }
            var sample = newNames[name];
            
            // console.log(sample.fontcolor(colorSamples[newNames[name]]))
        }

        myFunctionPlot();
        
    }
}


</script>

</head>

<body id="main">

<br>
<div class="row" name="load_data">
<!-- http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3/ -->
    <div class="col-lg-3 col-sm-3 col-3">

        <div class="input-group">
            <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                    Browse&hellip; <input type="file" id="files" name="files[]">
                </span>
            </span>
            <input type="text" class="form-control" id="uploadFile" readonly>
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-info" id="exbutton">Load Example</button>
        </div>
    </div>
</div>

<br>

<div class="row" id="cluster-and-ideogram-row"></div>

<div class="row" >
        <div class="col-md-3">
            <span class="title">Clusters Filter:</span>
            <input class="form-control" name="filter" onkeyup="filter(this, 'myTable', 2)" type="text">
        </div>
        <div class="col-md-3">
            <span class="title">Clusters Id:</span>
            <input class="form-control" name="filter" onkeyup="filter(this, 'myTable', 1)" type="text">
        </div>
    

    <br>
</div>
<div class="row" >
    <div class="col-md-6">
    <h4>Table with clusters</h4>
    <br>
        <div class="cluster_wrapper">
            <div id="table"></div>
                <table class="table" style="width:70%" align="center" id="myTable">
                <tr>
                <td>Sel.</td>
                <td>I.D.</td>
                <td>Description:</td>
                </tr>
                </table>
            </div>
    </div>
    <div class="col-md-6">
        <h4>Table with Locus</h4>
        <br>
        <div id="locus">
            <table  class="table" style="width:80%" align="center" id="myTableLocus">
            <tr>
            <td>I.D.</td>
            <td>Index</td>
            <td>Locus:</td>
            </tr>
            </table>
        </div>
        <div>
            <button onmouseover="over_profile()" type="button" class="btn btn-info" id="show_profile">Show Profile</button>
            <button onmouseover="over_ss()" type="button" class="btn btn-info" id="show_ss">Show Structure</button>
            <!-- <button onmouseover="over_seqs()" type="button" class="btn btn-info" id="show_seqs">Show Sequences</button> -->
        </div>
    </div>
</div>

    
<div id="popup_profile" class="init_hidden" width="25" height="60">
    <div width="25" height="60">
        <div width="25" height="60">
            
            
                <h4 class="title">Abundance profile along precursor</h4>
                <div id="figure" width="15" height="50">
                    <canvas id="canvas" width="15" height="50" align="center"></canvas>
                    <br>
                </div>
        </div>
        

        <div class="row">
            <div class="col-md-3">
                <input class="form-control" id="regexp" type="text" size="10" \> 
            </div>
            <div class="col-md-1">
                <input type="color" id="allcolors"/>
            </div>
            <div class="col-md-2">
                <button class="button-secondary pure-button" id="but_add_filter" \>Add filter</button>
            </div>
            <div class="col-md-3">
                <button class="button-secondary pure-button" id="but_change_line" \>Change line</button>
            </div>
                <div id="table_figure_options"></div>
        </div>
    </div>
    <br>
</div>

<div id="popup_ss" class="init_hidden">
        <h4>Secondary structure</h4>
        <div id="precursor_figure_options"></div>
        <br>
</div>

<div class="row">
    <div id="seqs" width="60" height="60">
        <table  style="width:80%" align="center" id="myTableSeqs" class="display"> 
        </table>
    </div>
</div>
</html>
